[tools]
agy = "latest"
bun = "latest"
claude = "latest"
{{ if ne (.profile | lower) "server" -}}
codex = "latest"
{{ end -}}
gh = "latest"
node = "26"
"npm:@hubspot/cli" = "latest"
"npm:pyright" = "latest"
opencode = "latest"
python = ["3.12", "3.14"]

[settings]
minimum_release_age_excludes = ["claude"]
