[Desktop Entry]
Version=1.0
Name=FC Gmail
Comment=FC Gmail
Exec=/usr/bin/bash /home/dmitrylito/.local/bin/chromium-profile-launch "Work" webapp "https://mail.google.com/mail/u/0/#inbox"
Terminal=false
Type=Application
Icon=/home/dmitrylito/.local/share/applications/icons/FC Gmail.png
StartupNotify=true
