[Desktop Entry]
Version=1.0
Name=FC Chat
Comment=FC Chat
Exec=/usr/bin/bash /home/dmitrylito/.local/bin/chromium-profile-launch "FC Chat" webapp "https://console.fleetchaser.com/chats"
Terminal=false
Type=Application
Icon=/home/dmitrylito/.local/share/applications/icons/FC Chat.png
StartupNotify=true
