[Desktop Entry]
Version=1.0
Name=FC Tasks
Comment=FC Tasks
Exec=/usr/bin/bash /home/dmitrylito/.local/bin/chromium-profile-launch "FC Tasks" webapp "https://console.fleetchaser.com/tasks"
Terminal=false
Type=Application
Icon=/home/dmitrylito/.local/share/applications/icons/FC Tasks.png
StartupNotify=true
