{
  "name": "dev.dmitrylito.window_time",
  "description": "window-time active-tab reports",
  "path": "{{ .chezmoi.homeDir }}/.local/bin/window-time-tab-host",
  "type": "stdio",
  "allowed_origins": ["chrome-extension://mgigghebaoidnillggjomjcfeekicahi/"]
}
