[Unit]
Description=Audiobookshelf (audiobook & podcast server/player)
After=network-online.target
RequiresMountsFor=/data

[Container]
Image=ghcr.io/advplyr/audiobookshelf:latest
AutoUpdate=registry
Pod=media.pod
Environment=PORT=13378
Environment=TZ=America/New_York
HealthCmd=wget -q --spider http://127.0.0.1:13378/healthcheck
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s
Volume=/data/docker-appdata/audiobookshelf/config:/config:Z
Volume=/data/docker-appdata/audiobookshelf/metadata:/metadata:Z
Volume=/data/media/audiobooks:/audiobooks:z
Volume=/data/media/books:/books:z
Volume=/data/media/podcasts:/podcasts:z

[Install]
WantedBy=default.target

[Service]
Restart=always
