[Unit]
Description=Prowlarr
After=network-online.target
RequiresMountsFor=/data

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
AutoUpdate=registry
Pod=media.pod
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/New_York
HealthCmd=curl -fsS http://127.0.0.1:9696/ping
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s
Volume=/data/docker-appdata/prowlarr:/config:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
