[Unit]
Description=Seerr
After=network-online.target
RequiresMountsFor=/data

[Container]
Image=ghcr.io/seerr-team/seerr:latest
AutoUpdate=registry
Pod=media.pod
Environment=TZ=America/New_York
HealthCmd=wget -q --spider http://127.0.0.1:5055/api/v1/status
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s
Volume=/data/docker-appdata/seerr:/app/config:Z

[Install]
WantedBy=default.target

[Service]
Restart=always
